# Ignore Python cache & environments
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# Ignore Node
node_modules/
dist/
dist-ssr/
*.local

# Ignore OS files & Git
.DS_Store
.git/
.gitignore

# NUKE THE BLOAT
*.zip
**/*.zip
GLiNER_PROD_V1.zip
GLINER_PROD_V1.zip

# Note: We purposely DO NOT ignore `model/` because backend needs it!